@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Mono";
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf)format("truetype")font-weight-normal,
  url(/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf) format("truetype") font-weight-bold;
}
@font-face {
  font-family: "IBM Plex Serif";
  src: url(/fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBold.ttf)format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url(/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf)format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url(/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf)format("truetype");
}
@font-face {
  font-family: "Roboto Mono Italic";
  src: url(/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf)format("truetype");
}


@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 255, 255, 255;
    --color-surface: 242, 242, 242;
    --color-text-base: 2, 15, 2;
    --color-accent: 38, 116, 45;
    --color-card: 169, 198, 169;
    --color-card-blue: 213, 230, 245;
    --color-card-muted: 205, 205, 205;
    --color-border: 85, 143, 87;
    --color-postCard: 255, 255, 255;
    --color-breadcrumbs: 250, 235, 215;
    --box-shaddow: 149, 157, 165;
    --color-main: var(--color-fill);
  }
  html[data-theme="dark"] {
    --color-fill:28, 28, 25;
    --color-surface: 37, 37, 37;
    --color-text-base: 233, 241, 233;
    --color-accent: 38, 116, 45;
    --color-card: 13, 55, 17;
    --color-card-blue: 22, 51, 77;
    --color-card-muted: 138, 51, 2;
    --color-border: 85, 143, 87;
    --color-postCard: 37, 37, 37;
    --color-breadcrumbs: 70, 65, 59;
    --box-shaddow: 9, 17, 25;
    --color-main: var(--color-fill);
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #xyz {
    --color-fill: 255, 255, 247;
    --color-text-base: 40, 39, 40;
    --color-accent: 101, 126, 103;
    --color-card: 229, 240, 231;
    --color-card-muted: 205, 205, 205;
    --color-border: 180, 207, 184;
    --color-postCard: 255, 255, 255;
    --color-main: 255, 255, 247;
    color: rgb(29, 29, 29);
    color: rgb(39, 40, 39);
    color: rgb(38, 116, 45);
    color: rgb(229, 240, 231);
    color: rgb(205, 205, 205);
    color: rgb(41, 99, 50);
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 247);
    color: rgb(70, 65, 59);

    --color-fill: 30, 34, 44;
    --color-text-base: 234, 237, 243;
    --color-accent: 204, 230, 208;
    --color-card: 57, 66, 59;
    --color-card-muted: 138, 51, 2;
    --color-border: 96, 153, 104;
    --color-postCard: 49, 55, 72;
    --color-main: 30, 34, 44;
    color: rgb(213, 230, 245);
    color: rgb(234, 237, 243);
    color: rgb(204, 230, 208);
    color: rgb(57, 66, 59);
    color: rgb(138, 51, 2);
    color: rgb(96, 153, 104);
    color: rgb(49, 55, 72);
    color: rgb(30, 34, 44);
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    min-height: 100svh;
    @apply flex flex-col bg-skin-fill font-mono text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section {
    max-width: var(--site_width);
    @apply mx-auto px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent group-hover:text-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  img {
    @apply w-full
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-h3:italic prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base

    
    prose-code:rounded prose-code:bg-skin-card 
    prose-code:bg-opacity-75 prose-code:p-1 prose-code:!text-skin-base 
    prose-code:before:!content-[''] prose-code:after:!content-['']
    prose-pre:!text-skin-base prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:mx-auto 
    prose-img:!mt-2 prose-img:rounded-2xl
  }
  .prose a {
    @apply hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}

:root {
  --site_width: 70rem;
}

.text-balance {
  text-wrap: balance;
}

.center-layout {
  width: 100%;
  max-width: var(--site_width);
  justify-self: center;
  align-self: center;
  display: grid;
  margin-inline: auto;
}

.max-width {
  max-width: var(--site_width);
}

.hover-transform {
  position: relative;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.hover-transform:hover {
  transform: translate(var(--translate-x),var(--translate-y)) rotate(var(--rotate)) skew(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.strokeme2 {
  --_color-shadow: 2,15,2;
  --_alpha: 0.3;
  --_width: 1px;
  text-shadow: -1px -1px var(--_width) rgba(var(--_color-shadow), var(--_alpha)), 1px -1px var(--_width) rgba(var(--_color-shadow), var(--_alpha)), -1px 1px var(--_width) rgba(var(--_color-shadow), var(--_alpha)), 1px 1px var(--_width) rgba(var(--_color-shadow), var(--_alpha));
}
.strokeme {
  filter: drop-shadow(0 0 10px rgba(var(--color-text-base), 0.7));
}

ul {
  max-width: var(--site_width);
  width: 100%;
}
.postUl {
  max-width: var(--site_width);
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  grid-auto-rows: 18rem auto auto auto;
  container-type: inline-size;
  gap: .5rem 2rem;
  @apply grid grid-flow-dense;
}

.postCard {
  --_transition-time: 0.8s;
  --_transition-fktn: cubic-bezier(0, 0, 0.2, 1);
  --_border-hover: clamp(2rem, 3rem, 4rem);
  max-width: 27rem;
  min-height: 30rem;
  border-radius: clamp(1rem, 2rem, 3rem);
  height: auto;
  grid-row: span 4;
  position: relative;
  box-shadow: rgba(var(--box-shaddow), 0.2) 0px 8px 24px;
  grid-template-rows: subgrid;
  transition: border-radius var(--_transition-time) var(--_transition-fktn);
  background-color: rgba(var(--color-postCard), 1);
  @apply grid my-5 overflow-hidden;
}
@supports (view-transition-name: header) {
  .postCard {
    transition: background-color .2s ease-in-out, border-radius var(--_transition-time) var(--_transition-fktn);
  }    
}

/* ==== Safari Fix ==== */
@supports  (background: -webkit-named-image(i)) or (-webkit-touch-callout: none) {
  .postUl {
    grid-template-columns: repeat(auto-fill,minmax(300px, 100%)) !important;
  }
  .postImg {
    height: 18rem;
  }
}

.postCard:hover {
  border-radius: var(--_border-hover);
}

.postCard:hover .day {
  color: rgb(var(--color-accent));
}

.postTitle {
  @apply text-ellipsis line-clamp-2 w-4/5 text-balance;
}
.postCard:hover .postTitle {
  @apply decoration-dashed underline;
}

@media (min-width: 70rem) and (prefers-reduced-motion: no-preference) {
  .postDate,
  .postDesc,
  .postTitle {
    transition: transform var(--_transition-time) var(--_transition-fktn);
  }
  .postCard:first-child:not(.tsxCard):hover .postDate {
    transform: translateX(-.5rem);
  }
  .postCard:first-child:not(.tsxCard):hover .postTitle {
    transform: translateX(-.5rem);
  }
  .postCard:first-child:not(.tsxCard):hover .postDesc {
    transform: translateX(-.5rem);
  }
  .postCard:not(:first-child):hover .postDate,
  .tsxCard:hover .postDate {
    transform: translateY(-1rem);
  }
  .postCard:not(:first-child):hover .postTitle,
  .tsxCard:hover .postTitle {
    transform: translateY(-.5rem);
  }
  .postCard:not(:first-child):hover .postDesc,
  .tsxCard:hover .postDesc {
    transform: translateY(-.2rem);
  }

  .postDate,
  .postTitle,
  .postDesc {
    z-index: 2;
    background-color: inherit;
  }

  .postDate:not(:first-child)::after,
  .tsxCard .postDate::after {
    content: '';
    background: inherit;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: -1;
    transform: scaleY(0) translateY(-50%);
    border-radius: var(--_border-hover);
    transition: transform var(--_transition-time) var(--_transition-fktn);
    @apply w-full h-full absolute opacity-100;
  }

  .postCard:not(:first-child):hover .postDate::after,
  .tsxCard:hover .postDate::after {
    transform: scaleY(1) translateY(-60%);
  }

  .postCard:not(:first-child) picture,
  .postCard:not(:first-child) img,
  .tsxCard img {
    z-index: 0;
    transition: transform var(--_transition-time) var(--_transition-fktn);
  }

  .postCard:not(:first-child):hover picture,
  .postCard:not(:first-child):hover img,
  .tsxCard img {
    transform: scale(1.02);
  }
}
@media (min-width: 70rem) {
  .card:first-child {
    --_padding: 3rem;
    grid-template-columns: 3fr var(--_padding) 2fr;
    grid-template-rows: 3rem 5rem auto 1fr;
    grid-template-areas:
    "postImg b a"
    "postImg b postDate"
    "postImg b postTitle"
    "postImg b postDesc";
    grid-column-start: 1;
    grid-column-end: -1;
    min-height: 25rem;
    justify-content: space-between;
    max-width: unset;
    height: auto;
    padding-right: var(--_padding);
  }
  .card:first-child p {
    height: fit-content;
  }
  .card:first-child picture,
  .card:first-child img,
  .card:first-child .postCard {
    grid-area: postImg;
    height: 100% !important;
    position: relative;
  }
  .card:first-child .postDate {
    grid-area: postDate;
    text-align: start;
    width: 100%;
    font-size: 18pt;
  }
  .card:first-child .postTitle {
    grid-area: postTitle;
    text-align: start;
    align-self: center;
    @apply text-5xl w-auto line-clamp-none
  }
  .card:first-child .postDesc {
    grid-area: postDesc;
    text-align: start;
    width: 100%;
    font-size: 15pt;
    @apply line-clamp-none
  }
  .day {
    font-size: 30pt;
  }
  .postCard picture::after,
  .tsxCard img::after {
    content: '';
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    transition: opacity var(--_transition-time) var(--_transition-fktn);
    @apply inset-0 absolute opacity-0;
  }

  .postCard:hover picture::after,
  .tsxCard:hover img::after {
    @apply opacity-30;
  }
}
@media (min-width: 100rem) {
  .card:first-child {
    max-width: unset;
  }
}

.day {
  font-weight: 900;
  font-size: 25pt;
}

.fancy-link {
  text-decoration: none;
  position: relative;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: .5rem;
  bottom: 0;
  width: calc(100% - 1rem);
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-8%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

.fancy span {
  display: inline-block;
}

@media (hover: hover) and (min-width: 1200px) {  
  .fancy > .outer {
    transition: transform 350ms ease;
  }
  
  .fancy:hover > .outer {
    transition-duration: 800ms;
  }
  
  .fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
  }
  
  .fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
      to right,
      rgb(var(--color-accent)),
      rgb(41, 121, 255),
      rgb(var(--color-accent))
    );
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
  }
  
  .fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, -60%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, -20%) rotate(4deg);
  }
  
  .fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, -60%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  
  .fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -30%) rotate(5deg);
  }
  
  .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }
  
  .fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, 40%) rotate(-5deg);
  }
  
  .fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, -15%) rotate(10deg);
  }
  
  .fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, 50%) rotate(8deg);
  }
}

/* Scroll Animation */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(2rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes just-fade {
  from {
    opacity: 0;
    transform: translateY(5px) ;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes roll-in {
  from {
    transform: translateX(0) scale(0) rotate(2turn);
  }
  to {
    transform: none;
  }
}

@supports (animation-timeline: view()) {
  .scroll-animation {
    --_animation-type: fade;
    animation: var(--_animation-type) linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
  }
  @media (min-height: 800px) {
    .scroll-animation {
      animation-range: cover 0% cover 40%;
    }
  }
  .just-fade {
    --_animation-type: just-fade;
  }
  .roll-in {
    --_animation-type: roll-in;
  }
}
@supports (not (animation-timeline: view())) {
.scroll-animation,
.fade {
  opacity: 0;
  transform: translateY(10px) scale(0.9) ;
}
.tsxCard {
  opacity: 1;
  transform: translate(0px) scale(1);
}

.show.scroll-animation,
.show.fade {
  animation: fade 0.5s ease-in forwards;
}

.show.postCard {
  --_animation-delay: 0s;
  animation: fade 0.5s ease-in forwards;
  animation-delay: var(--_animation-delay);
}

.postCard:nth-child(1){--_animation-delay:0.1s}
.postCard:nth-child(2){--_animation-delay:0.1s}
.postCard:nth-child(3){--_animation-delay:0.2s}
.postCard:nth-child(4){--_animation-delay:0.3s}
.postCard:nth-child(5){--_animation-delay:0.4s}
.postCard:nth-child(6){--_animation-delay:0.5s}
.postCard:nth-child(7){--_animation-delay:0.6s}

.slide {
  animation: none;
  opacity: 0;
  transform: translateX(-10vw) scaleX(0);
  transition: all 0.5s ease-in;
}
.show.slide {
  animation: none;
  opacity: 1;
  transform: translateX(0vw) scaleX(1);
}
.show.just-fade {
  animation: just-fade 0.5s ease-in forwards;
}
.show.roll-in {
  opacity: 0;
  animation: roll-in 0.5s ease-in forwards;
}
}

@media(prefers-reduced-motion) {
  .scroll-animation {
    opacity: 1 !important;
    transform: translate(0px) scale(0px) !important;
    animation: none !important;
  }
}

.pagLink {
  width: fit-content;
  background-color: transparent;
  padding: .36rem .92rem;
  border: 2px solid rgb(var(--color-text-base));
  border-radius: 9999px;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
}
.pagLink::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  background-color: rgb(var(--color-text-base));
  z-index: -1;
  opacity: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: opacity 0.25s ease-in-out;
}
.pagLink:hover::after {
  opacity: 1;
}
.pagLink:hover {
  color: rgb(var(--color-fill));
}
.pagLink:hover svg{
  fill: rgb(var(--color-fill));
}