---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <div class="footer-wrapper">
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span><a href="/datenschutz">Datenschutzerklärung</a></span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span><a href="/impressum">Impressum</a></span>
    </div>
    <Socials centered />
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  a:hover {
    color: rgb(var(--color-accent));
  }
  .footer-wrapper {
    border-radius: clamp(1rem,2rem,3rem) clamp(1rem,2rem,3rem) 0 0;
    background-color: rgb(var(--color-surface));
    @apply px-8 py-16 flex flex-col items-center justify-between md:flex-row;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
