---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  decoration?: boolean;
}

const { href, className, ariaLabel, title, disabled = false, decoration = false } = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`group inline-block ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  style={decoration ? "text-decoration: underline;" : ""}
>
  <slot />
</a>

<style>
  a {
    font-size: 1.1rem;
  }
</style>