---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li
  class={`flex ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3"
  }`}
>
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group flex place-items-center`}
  >
  <span class="text-2xl">&#35;</span> &nbsp;<span>{tag}</span>
  </a>
</li>

<style>
  a {
    background-color: rgb(var(--color-surface));
    @apply px-2 py-[0.4rem] rounded-[0.6rem] relative hover:text-skin-accent focus-visible:p-1;
  }
  a::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 20px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    @apply rounded-[0.6rem] ;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
</style>
