---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import InputField from "@components/InputField.astro";

---

<Layout>
    <Header/>
    <main>
        
        <section class="grid gap-4">
            <h1>Blogersteller</h1>
            <h2>Pflichtfelder</h2>
            <InputField inputName="Titel*" inputID="title" inputType="text" />
            <InputField
              inputName="Beschreibung*"
              inputID="description"
              inputType="text"
              inputHeight="200px"
            />
            <InputField
              inputName="Erstellungsdatum*"
              inputID="pubDate"
              inputType="date"
            />
            <InputField
              inputName="Bild*"
              inputID="src"
              inputType="file"
              inputAccept="image/*"
            />
            <div id="imgPreview" style="width: 100%; justify-items: center;">
              Bitte Bild auswählen.
            </div>
          </section>
          <section>
            <div class="tgrid">
              <div class="p-4" style="border-radius:5px;border-color:rgb(var(--color-accent));border-width:3px;">
                <h2 class="font-semibold text-3xl">Tipps</h2>
                <div id="tipp">
                  <h3 class="mt-4 underline">Formatierung:</h3>
                  <span>Syntax</span>
                  
                  <h3 class="mt-4 underline">Überschrift:</h3>
                  <span>## Überschrift</span>

                  <h3 class="mt-4 underline">Fett:</h3>
                  <span>**fettgedruckter Text**</span>

                  <h3 class="mt-4 underline">Kursiv:</h3>
                  <span>*Kursiv gedruckter Text*</span>

                  <h3 class="mt-4 underline">geordnete Aufzählung:</h3>
                  <div class="grid">
                  <span>1. erstes Element</span>
                  <span>2. zweites Element</span>
                  <span>3. drittes Element</span>                    
                  </div>


                  <h3 class="mt-4 underline">Stichpunktaufzählung:</h3>
                  <div class="grid">
                  <span>- erstes Element</span>
                  <span>- zweites Element</span>
                  <span>- drittes Element</span>                    
                  </div>


                  
                  <h3 class="mt-4 underline">Link:</h3>
                  <span>[Titel der Webseite](https://www.example.com)</span>
                </div>
                <a
                class="mt-4 underline"
                  style="display:block; text-align:end; width: 95%;"
                  href="https://www.markdownguide.org/cheat-sheet">mehr</a
                >
              </div>
              <div class="p-4 my-4" style="border-radius:5px;border-color:rgb(var(--color-accent));border-width:3px;display: grid; gap: 16px; height: fit-content;">
                <h2 class="font-semibold text-3xl">Bild innerhalb des Artikels einfügen?</h2>
                <InputField
                  inputName="Bildtitel"
                  inputID="imgTitle"
                  inputType="text"
                />
                <InputField
                  inputName="Bild"
                  inputID="imgSrc"
                  inputType="file"
                  inputAccept="image/*"
                />
                <div id="previewTool" style="width: 100%; justify-items: center;">
                  Bitte Bild auswählen
                </div>
                <button id="genButton" style="border-color:rgb(var(--color-accent));border-width:2px;border-radius:5px;">generieren</button>
                <p>
                  Kopieren Sie den generierten Code und fügen ihn im Artikel an der
                  gewünschten Stelle wieder ein.
                </p>
                <code class="code" id="output"></code>
              </div>
              <h2>Blogeintrag/Artikel</h2>
              <textarea
                name="article"
                id="article"
                cols="30"
                rows="20"
                style="width: 100%"></textarea>
            </div>
          </section>
    </main>
    <Footer />
</Layout>
<style>
    textarea {
        border: 1px solid rgb(var(--color-text-base));
        border-radius: 5px;
    }
    #tipp {
        grid-template-columns:auto 1fr;
        gap:1rem;
        @media (width >= 768px) {
            display: grid;
        }
    }
</style>
<script>
    //Prevent reload
    window.addEventListener("beforeunload", (event) => {
      event.returnValue = `Are you sure you want to leave?`;
    });
  
    const chooseFile = document.getElementById("src");
    const imgPreview = document.getElementById("imgPreview");
    chooseFile.addEventListener("change", function () {
      getImgPreview(chooseFile, imgPreview, "previewID", "imgPreview");
    });
  
    const chooseTool = document.getElementById("imgSrc");
    const previewTool = document.getElementById("previewTool");
    chooseTool.addEventListener("change", function () {
      getImgPreview(chooseTool, previewTool, "previewImg", "previewTool");
    });
    function getImgPreview(file, preview, id, divID) {
      const files = file.files[0];
      if (files) {
        document.getElementById(divID).innerHTML = "";
        const fileReader = new FileReader();
        fileReader.readAsDataURL(files);
        fileReader.addEventListener("load", function () {
          preview.style.display = "grid";
          preview.innerHTML = '<img src="' + this.result + '" id="' + id + '" style="aspect-ratio: 4/3;max-width: 300px;overflow: hidden;object-fit: cover;" />';
        });
      }
    }
  
    function getImgWidth(imgID) {
      return document.getElementById(imgID).naturalWidth;
    }
    function getImgHeigth(imgID) {
      return document.getElementById(imgID).naturalHeight;
    }
  
    const genButton = document.getElementById("genButton");
    genButton.addEventListener("click", generateTool);
    function generateTool() {
      const imgName = document.getElementById("imgSrc").files[0].name;
      const imgTitle = document.getElementById("imgTitle").value;
  
      const output = document.getElementById("output");
      output.innerHTML = '!['+imgTitle+'](/'+imgName+' "'+imgTitle+'")';
    }
  
    //mdx
    const genMDX = document.getElementById("genMDX");
    genMDX.addEventListener("click", mdxGen);
    function mdxGen() {
      const title = document.getElementById("title").value;
      const description = document.getElementById("description").value;
      const pubDate = document.getElementById("pubDate").value;
      let year = new Date().getFullYear().toString();
      const src =
        "/images/" +
        year +
        "/" +
        title +
        "/" +
        document.getElementById("src").files[0].name;
      let width = getImgWidth("previewID");
      let heigth = getImgHeigth("previewID");
      const article = document.getElementById("article").value;
      let mdx =
        "---" +
        "\n" +
        'title: "' +
        title +
        '"' +
        "\n" +
        'description: "' +
        description +
        '"' +
        "\n" +
        'pubDate: "' +
        pubDate +
        '"' +
        "\n" +
        'src: "' +
        src +
        '"' +
        "\n" +
        'width: "' +
        width +
        '"' +
        "\n" +
        'height: "' +
        heigth +
        '"' +
        '\n---\nimport BlogImage from "../../components/Neues/BlogImage.astro";\n\n' +
        article;
  
      //Download
      const htmlName = title + ".mdx";
      const blob = new Blob([mdx], { type: "text/mdx" });
      const url = URL.createObjectURL(blob);
      const anchor = document.createElement("a");
      anchor.setAttribute("href", url);
      anchor.setAttribute("download", htmlName); // set the file name
      anchor.style.display = "none";
      document.body.appendChild(anchor);
      anchor.click();
      document.body.removeChild(anchor);
  
      //Anleitung
      const fileName = document.getElementById("dateiName");
      const fileImgPath = document.getElementById("dateiImgPath");
      fileName.innerHTML = htmlName;
      fileImgPath.innerHTML = "/images/" + year + "/" + title + "/";
    }
  </script>  